{% extends 'base.html.twig' %}

{% block title %}Тест{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        <h1>Результат</h1>
        {% if errors is defined and errors is not empty %}
            <span style="color: #FF0000">Произошла ошибка:
            {% for error in errors %}
                {% if error.getMessage() is defined %}
                    {{ error.getMessage() }}<br>
                {% endif %}
            {% endfor %}
            </span>
            <a href="{{ path('index') }}">Повторить ввод</a>
        {% endif %}
        {% if result is defined and result is not empty %}
            <span style="color: #FF0000">{{ result }}</span>
        {% endif %}
    </div>
{% endblock %}
