{% extends 'base.html.twig' %}

{% block title %}Тест{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Добрый день</h1>

    Введите арифметическое выражение. Допускаются знаки +-*/
    <form method="post" action="/calculate">
        <input type="text" name="testInput" style="width: 430px">
        <button class="btn btn-success">Посчитать</button>
    </form>
</div>
{% endblock %}
